    
<ion-view view-title="Bienvenidos" name="bienvenida-view">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button >
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <ion-icon name="camera"></ion-icon>
        
      <a ng-click = cam()> <i class="icon ion-camera large"></i> </a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="padding">
        
    <ion-item class="item-text-wrap ">
      <h1 aling-text="center">Bienvenidos</h1>
      <img class="center" src="img/icon.png">
      <p> Bienvenidos, Esta aplicacion fue desarrollada
      por estudiantes de la UTP, creando tecnologías aplicadas para la agricultura.</p>
    </ion-item>

    <button class="button button-balanced" ng-click = cam()>Camara</button>
    <button class="button button-balanced" ng-click= info()>Información</button>

    


      
  </ion-content>
</ion-view>