<ion-view view-title="Camera" name="camera-view">
  <ion-nav-bar class="bar-balanced">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
        <button ng-click="tomaFoto()" class="button button-balanced button-block">Capturar!</button>
        <div class="card" >
            <div class="item item-text-wrap altura">
                <img ng-src="{{lastPhoto ? lastPhoto : 'img/logo_isc.jpg'}}" style="max-width: 100%" />
            </div>
        </div>

       
        
        <button class="button button-balanced button-block" ng-click="upload()">Analizar</button>
        <div class="card">
                    <div class="item item-text-wrap">
                        <!--<img ng-src={{response}} style="max-width: 100%" />-->
                        <b ng-bind="response"></b>
                    </div>
                </div>
  </ion-content>
</ion-view>