    
<ion-view view-title="Inicio" name="home-avocado-view">
  <ion-nav-bar class="bar-balanced" align-title="center">
    <ion-nav-back-button >
    </ion-nav-back-button>
    <ion-nav-buttons side="right">
      <ion-icon name="camera"></ion-icon>
        
      <a ng-click = cam()> <i class="icon ion-camera large"></i> </a>
    </ion-nav-buttons>
</ion-nav-bar>
  <ion-content class="padding">
    <ion-item class="grey item-text-wrap">
      <p>El aplicativo, calcula en los siguientes estados de madures.</p>
     </ion-item>
    <ion-item class="item-text-wrap">
      <h3>Verde</h3>
      <img src="img/verde.jpeg">
      <p> Estado en el que 
       el aguacate es cortado del arbol </p>
    </ion-item>

    <ion-item class="item-text-wrap">
      <h3>Verde Intermedio</h3>
      <img src="img/medio.jpeg">
      <p>Estado en el que 
       el aguacate esta con pigmentos
        de color marron</p>
    </ion-item>

    <ion-item class="item-text-wrap">
      <h3>Maduro</h3>
      <img src="img/maduro.jpeg">
      <p>Estado en el cual se puede consumir</p>
    </ion-item>

    <ion-item class="item-text-wrap">
      <ion-label stacked>Nota</ion-label>
      <p>Para tomar fotos ingresa a la camara en la parte superior derecha de tu celular</p>
    </ion-item>


      
  </ion-content>
</ion-view>