/* Empty. Add your own CSS if you like */
.altura{
	height: 310px;
}

.scroll-content-login {
    background-image:  url('../img/logo_utp.png');
    background-repeat: no-repeat;
    background-position: bottom;
  }
.scroll-content-banner {
    background-image: url('../img/banner.v1.jpg');
    background-repeat: no-repeat;
    background-position: center;
 }

.bar-balanced2{
	background-color: black;
}
.padding-top{
	padding-top: 60px;
}
.item p{
    right: 0px;
    width: auto;
    padding: 10px;
}
i .large{
	color: white;
	font-size: 90px;
}

.item-text-wrap{
	overflow: initial;
    white-space: initial;
}
.item img{
	max-width: 100% !important;
}
.grey{
	background-color: #eee;
}
.grey p{
	font-size: 10px;
	color: black;
}