/* Empty. Add your own CSS if you like */
.altura{
	height: 310px;
}

.scroll-content {
    background-image:  url('../img/logo_utp.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
  }
.scroll-content-banner {
    background-image: url('../img/banner.v1.jpg');
    background-repeat: no-repeat;
    background-position: center;
 }

.bar-balance{
	background-color: #03215A;
}
.padding-top{
	padding-top: 100px;
}